.home__clicker {
	padding: 20px;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
	border-top: 2px solid #866F9B;
	-webkit-box-shadow: 0px -14px 10px 0px rgba(134, 111, 155, 0.2);
	-moz-box-shadow: 0px -14px 10px 0px rgba(134, 111, 155, 0.2);
	box-shadow: 0px -14px 10px 0px rgba(134, 111, 155, 0.2);
	width: 100%;
	height: calc(100dvh - 174px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.clicker__amount--coin {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 10px;

		.coin__icon {
			width: 52px;
		}

		.coin__amount {
			font-size: 32px;
			font-weight: 800;
		}
	}

	.clicker__statistic--user {
		display: flex;
		gap: 15px;
		justify-content: center;
		align-items: center;
		margin-top: 10px;

		.statistic-item {
			display: flex;
			gap: 5px;
			align-items: center;

			.item__icon {
				width: 30px;
			}

			.item__value {
				font-size: 18px;
				font-weight: 600;
			}
		}

		.statistic__point {
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: white;
		}
	}

	.clicker__user--stamin {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		.stamin__content {
			max-width: 400px;
			width: 100%;
			height: 50px;
			border-radius: 16px;
			border: 2px solid #2C2037;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #130A1B;

			.content-item {
				cursor: pointer;
				gap: 5px;

				.item__name {
					font-size: 14px;
					font-weight: 700;
				}
			}

			.content-item:nth-child(1){
				width: 60%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				border-right: 1px solid #2C2037;
			}

			.content-item:nth-child(2){
				width: 40%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				border-left: 1px solid #2C2037;
			}
		}
	}
}

@media only screen and (max-height: 600px) {
	.home__clicker {
		min-height: 550px;
		padding-bottom: 70px;
	}
}