.home__header {
	width: 100%;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	padding: 20px;

	.header__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}

	.header__profile {
		display: flex;
		flex-direction: column;
		gap: 4px;

		.profile__level {
			font-size: 12px;
			color: #727F94;
			font-weight: 600;
		}

		.profile__name {
			font-size: 18px;
			font-weight: 600;
		}
	}

	.header__money {
		padding: 5px 10px;
		border-radius: 15px;
	}

	.header__settings {
		position: relative;

		.settings__button {
			position: relative;
			z-index: 10;
			cursor: pointer;
		}

		.settings__menu {
			width: 0px;
			height: 0px;
			z-index: 5;
			overflow: hidden;
			position: absolute;
			left: 50%;
			top: 50%;
			border-radius: 50%;
			transition: 0.5s width, 0.5s height, 0.5s margin-left, 0.5s margin-top;

			.menu-item {
				width: 40px;
				height: 40px;
				transition: 0.5s bottom, 0.5s left, 0.5s transform;
				position: absolute;
				list-style: none;
			}
			
			.menu-item:nth-child(1) {
				bottom: 50%;
				left: 50%;
				margin-top: 20px;
				margin-left: -20px;
				transform: scale(0);
			}
			
			.menu-item:nth-child(2) {
				bottom: 50%;
				left: 50%;
				margin-top: 20px;
				margin-left: -20px;
				transform: scale(0);
			}
			
			.menu-item:nth-child(3) {
				bottom: 50%;
				left: 50%;
				margin-top: 20px;
				margin-left: -20px;
				transform: scale(0);
			}
		}

		.settings__menu.--active {
			width: 250px;
			height: 250px;
			margin-left: -125px;
			margin-top: -125px;

			.menu-item {
				cursor: pointer;
			}
			
			.menu-item:nth-child(1) {
				bottom: 100px;
				left: 20px;
				margin-top: 0px;
				margin-left: 0px;
				transform: scale(1);
			}
			
			.menu-item:nth-child(2) {
				bottom: 40px;
				left: 40px;
				margin-top: 0px;
				margin-left: 0px;
				transform: scale(1);
			}
			
			.menu-item:nth-child(3) {
				bottom: 20px;
				left: 100px;
				margin-top: 0px;
				margin-left: 0px;
				transform: scale(1);
			}
		}
	}
}