.home__header {
	width: 100%;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	padding: 20px;

	.header__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}

	.header__profile {
		display: flex;
		flex-direction: column;
		gap: 4px;

		.profile__level {
			font-size: 12px;
			color: #727F94;
			font-weight: 600;
		}

		.profile__name {
			font-size: 18px;
			font-weight: 600;
		}
	}

	.header__money {
		padding: 5px 10px;
		border-radius: 15px;
	}

	.header__menu {
		display: flex;
		gap: 10px;
	}

	.header__row:nth-child(2) {
		margin-top: 20px;
	}

	.header__menu--block {
		gap: 10px;

		.header__button {
			width: 100%;
			padding: 10px 5px;
			border: 1px solid transparent;
			color: white;
			font-size: 18px;
			font-weight: 600;
			background: transparent;
			cursor: pointer;
			border-radius: 10px;
			background: #202124;
			border-right: 3px solid transparent;
			border-left: 3px solid transparent;
			transition: 0.5s border;
		}

		.header__button.--active {
			// -webkit-box-shadow: 0px 0px 20px -3px #35383a4f;
			// -moz-box-shadow: 0px 0px 20px -3px #35383a4f;
			// box-shadow: 0px 0px 20px -3px rgba(255, 255, 255, 0.06);
			border: 1px solid #35383A;
			border-right: 3px solid #35383A;
			border-left: 3px solid #35383A;
		}
	}
}

@media only screen and (max-width: 576px) {
	.home__header {
		.header__menu--block {
			.header__button {
				font-size: 14px;
			}
		}
	}

	.home__header .header__profile .profile__name {
		font-size: 16px;
	}

	.home__header .header__profile .profile__level {
		font-size: 11px;
	}
}

@media only screen and (max-height: 600px) {
	.home__header {
		.header__menu--block {
			.header__button {
				font-size: 14px;
			}
		}
	}
}